* {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

body {
    background: rgb(63, 62, 62);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*////////////////// stlying of stage /////////////////////////////*/

#stage {
    width: 495px;
    height: 800px;
    border: 5px solid rgb(8, 0, 47);
    position: relative;
    background: rgb(49, 49, 107);
    color: white;
}

#columns {
    font-size: 0px;
    overflow: hidden;
}

#columns div {
    display: inline-block;
    width: 120px;
    height: 700px;
    border-right: 5px solid rgba(0, 0, 0, 0.2);
    position: relative;
}

.controls {
    height: 95px;
    width: 100%;
    border-top: 5px solid rgb(8, 0, 47);
    position: absolute;
    bottom: 0;
    font-size: 0;
    font-family: 'Rajdhani', sans-serif;
    text-transform: capitalize;
    background: rgb(27, 27, 61);
}

.controls div {
    text-align: center;
    width: 120px;
    height: 100%;
    display: inline-block;
    font-size: 70px;
    line-height: 100px;
    border-right: rgb(8, 0, 47) solid 5px;
}

.controls div:last-of-type,
#columns div:last-of-type {
    border: none;
}


/*//////////////////////////////////////////////////////////////////*/


/*////////////////// stlying of menu /////////////////////////////*/

.menu_content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgb(27, 27, 61);
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    text-transform: uppercase;
    color: white;
}

.menu_content h1 {
    position: absolute;
    top: 160px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 90px;
    width: 100%;
    text-shadow: 2px 2px 5px rgb(77, 77, 248);
}

.menu_options {
    font-size: 36px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.menu_options a {
    line-height: 70px;
    width: 300px;
    border: solid rgb(77, 77, 248) 3px;
    border-radius: 20px;
    text-align: center;
    display: block;
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: 10px;
}

.menu_options a:hover {
    background-color: rgb(7, 7, 133);
    cursor: pointer;
}

.menu_icons {
    position: absolute;
    bottom: 0;
    font-size: 54px;
    width: 100%;
}

.menu_icons i {
    margin: 10px;
    cursor: pointer;
}

#credits {
    border-color: gold;
}

#credits:hover {
    background-color: rgb(197, 179, 76);
}

#leaderboards {
    float: right;
    color: gold;
}

#settings {
    float: left;
    color: gray;
    width: 77px;
    height: 77px;
    cursor: pointer;
}

#settings i {
    transition: 500ms;
}

#settings:hover i {
    transform: rotate(180deg);
}


/*//////////////////////////////////////////////////////////////////*/


/*////////////////// stlying of target /////////////////////////////*/

:is(#column1, #column2, #column3, #column4) div {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: -100px;
    transform: translateX(-50%);
    background-color: rgb(0, 162, 184);
    border-radius: 50%;
    transition: 100ms;
    font-size: 54px;
    color: rgb(255, 8, 8);
    line-height: 100px;
    text-align: center;
}

:is(#column1, #column2, #column3, #column4) div i{
    padding-top: 26px;
}

/*//////////////////////////////////////////////////////////////////*/


/*/////////////// styling of game over screen ///////////////////////////////*/

#gameOver_content {
    display: none;
    position: absolute;
    top: 0;
    background: black;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    overflow: hidden;
}

#gameOver_animation {
    width: 100%;
    height: 100%;
    position: relative;
    left: 0%;
    animation: moveLeft 900ms;
}

@keyframes moveLeft {
    0% {
        left: 100%;
        transform: rotate(-10deg);
    }
    20% {
        transform: rotate(-10deg);
    }
    100% {
        left: 0%;
    }
}

#gameOver_content h1 {
    font-family: 'Rajdhani', sans-serif;
    position: absolute;
    color: white;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 120px;
    text-align: center;
    line-height: 100px;
}

#difficulty_text{
    float: right;
}

.results_display {
    position: absolute;
    border: solid white 10px;
    border-radius: 20px;
    bottom: 300px;
    left: 50%;
    transform: translateX(-50%);
    width: 380px;
    height: 180px;
    padding: 0 20px;
    color: white;
    font-size: 26px;
    font-family: 'Rajdhani', sans-serif;
}

.results_display p {
    padding: 10px;
}

.results_display #level_text {
    text-align: center;
}

.results_display p:nth-of-type(2) #Totaltime_text {
    float: right;
}

.gameOver_options {
    font-family: 'Rajdhani', sans-serif;
    position: absolute;
    color: white;
    bottom: 130px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    width: 420px;
    height: 100px;
    font-size: 50px;
}

.gameOver_options>div {
    display: inline-block;
    width: 71px;
    height: 71px;
    line-height: 71px;
    text-align: center;
}

.gameOver_options #retry:hover i,
.gameOver_options #home:hover i {
    font-size: 55px;
}

#retry {
    cursor: pointer;
}

#home {
    cursor: pointer;
    float: right;
}

#retry i {
    transition: linear 310ms;
}

#retry:hover i {
    transform: rotate(-360deg)
}


/*//////////////////////////////////////////////////////////////////*/


/*////////////////////////styling of countDown//////////////////////////////////////////*/

#countDown {
    font-family: 'Rajdhani', sans-serif;
    width: 100%;
    background: black;
    position: absolute;
    height: 100px;
    top: 40%;
    transform: translateY(-50%);
    opacity: 0.9;
}

#countDown_text {
    color: white;
    text-align: center;
    line-height: 100px;
    font-size: 86px;
}


/*//////////////////////////////////////////////////////////////////*/


/*////////////////////////styling of game stats//////////////////////////////////////////*/

.gameStats {
    font-family: 'Rajdhani', sans-serif;
    font-size: 26px;
    display: block;
    border: solid rgb(8, 0, 47) 5px;
    border-bottom: none;
    width: 495px;
    height: 50px;
    visibility: hidden;
    background: rgb(27, 27, 61);
}

.gameStats_content {
    width: 90%;
    margin: 0 auto;
}

#LIVE_score_text {
    font-size: 30px;
    line-height: 50px;
    color: white;
}

.hearts {
    float: right;
}

.hearts i {
    color: red;
    font-size: 40px;
    padding: 0 2px;
    line-height: 50px;
}


/*//////////////////////////////////////////////////////////////////*/


/*////////////////////////styling of credits page//////////////////////////////////////////*/

#credits_page {
    font-family: 'Rajdhani', sans-serif;
    display: none;
    position: absolute;
    top: 0;
    background: rgb(27, 27, 61);
    width: 100%;
    height: 100%;
    text-align: center;
    overflow-y: scroll;
}

.scrollbar::-webkit-scrollbar {
    width: 8px;
}

.scrl_light::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: whitesmoke;
}

.scrl_light::-webkit-scrollbar-thumb:hover {
    border-radius: 20px;
    background-color: rgb(221, 221, 221);
}

.scrl_dark::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: rgb(49, 49, 107);
}

.scrl_dark::-webkit-scrollbar-thumb:hover {
    background-color: rgb(37, 37, 80);
}

.koopje {
    margin-top: 50px;
}

.credits_authors {
    position: absolute;
    width: 100%;
    top: 120px;
}

.credits_authors h1 {
    font-size: 30px;
}

.credits_authors div {
    position: relative;
    line-height: 30px;
    width: 350px;
    height: 130px;
    border: solid rgb(8, 8, 22);
    border-radius: 20px;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 30px;
    padding: 10px;
    text-align: right;
}

.credits_authors div:first-child {
    margin-top: 20px;
}

.credits_authors div img {
    position: absolute;
    left: 20px;
    top: 50%;
    border-radius: 50%;
    transform: translateY(-50%);
    border: solid rgb(8, 8, 22, 0.5);
    vertical-align: middle;
}

.credits_authors div i {
    font-size: 25px;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.fa-backspace {
    position: absolute;
    color: red;
    font-size: 50px;
    left: 10px;
    top: 10px;
    cursor: pointer;
}


/*//////////////////////////////////////////////////////////////////*/


/*////////////////////////styling of settings page//////////////////////////////////////////*/

#settings_page {
    display: none;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(27, 27, 61);
    text-align: center;
    line-height: 35px;
    font-family: 'Rajdhani', sans-serif;
}

#settings_page h1 {
    margin-top: 50px;
    font-size: 56px;
}

#settings_page p {
    font-size: 25px;
}

.slider {
    -webkit-appearance: none;
    width: 200px;
    height: 10px;
    border-radius: 5px;
    background: rgb(4, 4, 12);
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(52, 52, 119);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(61, 61, 139);
    cursor: pointer;
}

.slidecontainer {
    margin-top: 50px;
}

.modeselect {
    margin-top: 60px;
    width: 100%;
}

.modes {
    margin-top: 30px;
}

.modes a {
    background: black;
    border-radius: 20px;
    padding: 20px;
    margin-left: 10px;
    cursor: pointer;
}

#easy {
    background: rgb(25, 114, 25);
}

#medium {
    background: rgb(199, 137, 23);
}

#hard {
    background: rgb(149, 36, 36);
}

.themeselector {
    margin-top: 60px;
    width: 100%;
}

.themeselector p {
    margin-bottom: 30px;
}

.themeselector a {
    background: black;
    border-radius: 20px;
    padding: 20px;
    margin-left: 10px;
    cursor: pointer;
}

#theme_light {
    background: rgb(165, 159, 159);
}

#theme_dark {
    background: rgb(19, 18, 18);
}

.keybindsselect {
    margin-top: 60px;
    width: 100%;
}

.keybindsselect h2 {
    font-size: 16px;
}

.keybindsselect>div {
    display: inline-block;
    margin: 10px;
}

.keybindsselect>div div {
    width: 50px;
    height: 50px;
    background: gray;
    text-align: center;
    margin: 0 auto;
    line-height: 50px;
    border-radius: 10px;
    text-transform: uppercase;
    border: solid 5px gray;
}


